{% extends "page.html.twig" %}

{% block content %}
  <div class="container-fluid">
    <div class="container">{{ page.breadcrumb }}</div>
  </div>
  <div class="container row">

  {% set has_sidebar_first = page.sidebar_first|render|striptags|trim is not empty %}
  {% set has_sidebar_second = page.sidebar_second|render|striptags|trim is not empty %}

  {% if has_sidebar_first %}
  <div class="left-menu col-md-3">
    <aside role="complementary">
      {{ page.sidebar_first }}
    </aside>
  </div>
  {% endif %}

    {% if not has_sidebar_first and not has_sidebar_second %}
    <div id="main" class="col-12 col-md-12 one-column">
    {% endif %}
    {% if has_sidebar_first and not has_sidebar_second %}
    <div id="main" class="col-12 col-lg-9 two-column mx-auto">
    {% endif %}
    {% if not has_sidebar_first and has_sidebar_second %}
    <div id="main" class="col-12 col-lg-9 two-column mx-auto">
    {% endif %}
    {% if has_sidebar_first and has_sidebar_second %}
    <div id="main" class="col-12 col-lg-6 three-column mx-auto">
    {% endif %}
    <div class="oira-content">
        <div class="image-fluid">
          <img alt="{{ node.field_image.alt }}" src="{{ node.field_image|file_url }}"/>
        </div>
        <main>
          <section class="section container">
            <a id="main-content" tabindex="-1"></a>
            {{ page.content }}
          </section>
        </main>
    </div>
  </div>
  {% if has_sidebar_second %}
    <div class="right-menu col-md-3">
      <aside role="complementary">
        <span class="rr-text">{{ "Related resources" | trans }}</span>
        {{ page.sidebar_second }}
      </aside>
    </div>
  {% endif %}
</div>
{% endblock %}
