{% extends "page.html.twig" %}

{% block content %}
  <div class="home-intro container">
    {{ drupal_view('home_page_banners', 'block_1') }}
  </div>
  <div class="content-home content-oira-profiles content-light-purple">
    <div class="container">
      <h2>{{ 'Profiles' | trans }}</h2>
      {{ drupal_view('profiles_home_page', 'block_1') }}
    </div>
  </div>
  <div class="content-home content-oira-tools content-light-grey">
    <div class="container">
      <h2>{{ 'Latest OiRA tools' | trans }}</h2>
      {{ drupal_view('tools', 'block_1') }}
    </div>
  </div>
  <div class="content-home content-oira-partners content-white">
    <div class="container">
      <h2>{{ 'OiRA partners' | trans }}</h2>
      {{ drupal_view('oira_partners', 'oira_partners_homepage') }}
    </div>
  </div>
  <div class="content-home content-latest-news content-dark-purple">
    <div class="container">
      <h2>{{ 'Latest news' | trans }}</h2>
      {{ drupal_view('news', 'oshnews_latest') }}
    </div>
  </div>

{% endblock %}
